.sidebar {
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 55px;
}

.logo img {
  max-height: 100%;
}

.menu-item-logo {
  margin-bottom: 25px;
  margin-top: 5px;
}

.sidebar-items {
  list-style: none;
  padding: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar-items a {
  display: flex;
  padding: 10px;
  color: rgb(52, 67, 88);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-items .active .item,
.sidebar-items .item:hover {
  background-color: #5d87ff;
  color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sidebar-items .item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

.sidebar-items .icon {
  font-size: 1.2em;
  margin-right: 10px;
}

.sidebar-items .text {
  font-size: 14px;
  white-space: nowrap;
  font-weight: normal;
}

.centered {
  width: 100%;
  border-radius: 10px;
}

.inicio-title,
.registros-title {
  font-size: 15px;
  padding: 8px 12px;
}